.nav-container {
  width: 100vw;
  height: 128px;
  background: var(--green);
  padding-top: 12px;
  .items {
    display: flex;
    align-items: center;
    margin-left: 10%;
    img {
      width: 93px;
      height: 80px;
      margin-top: 20px;
    }
    .nav-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      color: var(--white);
      span:nth-child(1) {
        font-size: clamp(16px, 2.8vw, 36px);
      }
      span:nth-child(2) {
        font-size: clamp(12px, 1.25vw, 16px);
      }
    }
  }
}
